body{
    background-color: #df9fbe;
    color: #602040;
}

#input{
    width: 50%;
    display: block;
    margin:25px auto;
    border-radius: 50px;
    border: #602040 solid 2px;
}

.text-center{
    text-align: center;
}

#output{
    width: 50%;
    display: block;
    margin:25px auto;
    border-radius: 50px;
    border: #602040 solid 2px;
}

.text{
    min-height:100px;
    padding: 10px;
    border-radius: 25px;
    background-color: #d279a4;
}

.btn-container{
    width: 50%;
    display: flex;
    margin: 20px auto;
    justify-content: space-between;
}

.button{
    width: 150px;
    padding: 5px 10px;
    border: none;
    font-size: 15px;
    cursor: pointer;
    background-color: #ac3971;
    border-radius:20px;
}

.button:hover{
    transition: 1s;
    background-color: #c6538c;
}


/* Mobile Device */
@media screen and (max-width: 500px)
{
    #input{
      width: 350px;
    }

     #output{
       width: 350px;
    }

    .text{
      width: 350px;
    }

    .btn_Container{
      width:400px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px auto;
    }

    .button{
      width:100px;
      flex-wrap: wrap;
      font-size:10px;
    }      
}


/* Tablet */
@media screen and (min-width: 770px) and (max-width:501px)
{
    #input{
      width: 700px;
    }

    #output{
       width: 700px;
    }

    .text{
      width: 700px;
    }

    .btn_Container{
      width:700px;
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 20px auto;
    }

    .button{
      width: 130px;
      flex-wrap: wrap;
      font-size: 10px;
    }     
}
